
.footernav{
    display: flex;

    width: 100%;
}
.footercolumn{
    position: relative;
    padding: 6px;
    width: 100%;
}
.footercolumn_section_items li{
    list-style: none;
    font-size: 12px;
    padding: 5px;
}

.footercolumn_section_items li a {
    text-decoration: none;
    color: inherit;
}