.promo{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    margin: 0 12px;
}
/* cards */
.promo .titlewrappermacbookair{
    width: 100%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 520px;
   
}
.promo .titlewrapperipadair{
   
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;


    min-height: 520px;
}
.promo .titlewrappermacbookpro{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  

    min-height: 520px;
}
.promo .titlewrapperprivacy{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 520px;
}
.promo .titlewrappertradein{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  

    min-height: 520px;
}
.promo .titlewrappercard{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 520px;
}

/* typography */

.promo .titlecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.promo .titlecontenttypography_macbookair h1{
    font-size: 35x;
    text-align: center;
    flex-wrap: wrap;
    color: #C8D8E0 ;
}
.promo .titlecontenttypography_macbookair p{
    font-size: 20px;
    font-weight: 50;
    flex-wrap: wrap;
    text-align: center;
    color: #C8D8E0 ;
}

.promo .titlecontenttypography_ipadair h1{
    font-size: 35x;
    font-weight: 500;
    text-align: center;
    flex-wrap: wrap;
    color: black !important;
}
.promo .titlecontenttypography_macbookair p{
    font-size: 20px;
    font-weight: 50;
    flex-wrap: wrap;
    text-align: center;
    color: #828b90 ;
}
.titlecontenttypography_tradein h1{
    text-align: center;
    color: black !important;
    font-weight: 600;
}
.titlecontenttypography_tradein p{
    font-size: 20px;
    color: #949da1;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 350px;
}
.titlewrappercard h1{
    text-align: center;
    color: black !important;
    font-weight: 600;
}
.titlewrappercard p{
    font-size: 20px;
    color: #949da1;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 350px;
}
/* buttons */

.promolearnmore{
    background: #0066CC;
    color: #fff;
}
.promobuy{
    background:transparent;
    color: #0066CC;
    border: 0.7px solid #0066CC !important;
    border-radius: 999px;
}
