header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 70px;
    font-size: 13px;
}
nav{
    display: flex;
    background-color: #181a1b;
    width: 100%;
}
.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 5px 0;
    width: 100%;
}
.navlinks{
    display: flex;
    cursor: default;
    width: auto;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.navlinks ul{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    gap:70px;
    width: auto;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.navlinks a{
    white-space: nowrap;
    color: #b6b5ba;
    opacity: 60%;
    text-decoration: none;
}
.logo{
    
    display: flex;
    align-items: center;
}
.logo a{
    
    text-decoration: none;
    gap:20px;
    color: #b6b5ba;
    opacity: 60%;
}
.icons{
    display: flex;
    align-items: center;
}
.icons a{
    text-decoration: none;
    gap:20px;
    color: #b6b5ba;
    opacity: 60%;
}
.storedropdown {
    display: none;
    background-color: rgba(10, 10, 10, 0.98);
    position: absolute;
    z-index: 10;
    left: 0%;
    border-radius: 7px;
    overflow: hidden;
    width: 100vw;
    max-width: 100vw;
}

.storeitem:hover .store-dropdown {
    display: block; /* shows on hover */
}
.storedropdown .column{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}
.column .columnitems{
    display: flex;
    flex-direction: column;
}